#bJump {
	position:absolute;
	top:640px;
}
#bShoot{
	position:absolute;
	top:600px;
}
#bStop {
	position:absolute;
	top:550px;
}
#b4 {
	position:absolute;
	top:50px;
}#b5 {
	position:absolute;
	top:0px;
}
#loseHeadline {
	top : 300px;
	left : 500px;
 	position:absolute;
}

img {
  position: absolute;
}

#coinHeader{
	top : 100px;
	left : 0px;
 	position:absolute;
}
